server:
  port: 80
spring:
  application:
    name: service=consumer
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
    registry-fetch-interval-seconds: 5 #每隔5秒拉取一次更新